In [18]:
import pandas as pd 

df = pd.read_excel('-30-uc-.xlsx',skiprows=3,skipfooter=15)
df

,Unnamed: 0,Unnamed: 1,ตัวตั้ง (จังหวัด),ตัวหาร (จังหวัด),ผลลัพธ์ (จังหวัด),จำนวนครั้ง (จังหวัด),ตัวตั้ง (จังหวัด).1,ตัวหาร (จังหวัด).1,ผลลัพธ์ (จังหวัด).1,จำนวนครั้ง (จังหวัด).1,ตัวตั้ง (จังหวัด).2,ตัวหาร (จังหวัด).2,ผลลัพธ์ (จังหวัด).2,จำนวนครั้ง (จังหวัด).2,ตัวตั้ง (จังหวัด).3,ตัวหาร (จังหวัด).3,ผลลัพธ์ (จังหวัด).3,จำนวนครั้ง (จังหวัด).3
0,เขต 1 เชียงใหม่,เชียงใหม่,293.0,702.0,41.74,394.0,285.0,707.0,40.31,367.0,253,692,36.56,311,280.0,723.0,38.73,369.0
1,NaN,ลำพูน,65.0,145.0,44.83,86.0,77.0,148.0,52.03,108.0,89,168,52.98,125,85.0,139.0,61.15,105.0
2,NaN,ลำปาง,134.0,300.0,44.67,188.0,142.0,298.0,47.65,195.0,146,338,43.20,196,144.0,326.0,44.17,180.0
3,NaN,แพร่,86.0,146.0,58.90,112.0,71.0,125.0,56.80,95.0,74,126,58.73,113,58.0,117.0,49.57,72.0
4,NaN,น่าน,88.0,158.0,55.70,128.0,91.0,161.0,56.52,133.0,83,149,55.70,127,81.0,181.0,44.75,108.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73,NaN,ปัตตานี,20.0,40.0,50.00,21.0,30.0,48.0,62.50,35.0,25,46,54.35,29,23.0,44.0,52.27,23.0
74,NaN,ยะลา,21.0,41.0,51.22,24.0,21.0,48.0,43.75,26.0,29,53,54.72,31,23.0,58.0,39.66,25.0
75,NaN,นราธิวาส,40.0,79.0,50.63,51.0,30.0,68.0,44.12,34.0,35,67,52.24,43,26.0,53.0,49.06,34.0
76,เขต 13 กรุงเทพมหานคร,กรุงเทพฯ,541.0,1390.0,38.92,635.0,516.0,1294.0,39.88,590.0,556,1340,41.49,640,557.0,1358.0,41.02,648.0
77,"เขต 14 กรมแพทย์ทหารเรือ, กรมแพทย์ทหารอากาศ, ทั...",กรมแพทย์ทหารเรือ,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1,0.00,0,NaN,NaN,NaN,NaN

In [19]:
df.columns

Index(['Unnamed: 0', 'Unnamed: 1', 'ตัวตั้ง (จังหวัด)', 'ตัวหาร (จังหวัด)',
       'ผลลัพธ์ (จังหวัด)', 'จำนวนครั้ง (จังหวัด)', 'ตัวตั้ง (จังหวัด).1',
       'ตัวหาร (จังหวัด).1', 'ผลลัพธ์ (จังหวัด).1', 'จำนวนครั้ง (จังหวัด).1',
       'ตัวตั้ง (จังหวัด).2', 'ตัวหาร (จังหวัด).2', 'ผลลัพธ์ (จังหวัด).2',
       'จำนวนครั้ง (จังหวัด).2', 'ตัวตั้ง (จังหวัด).3', 'ตัวหาร (จังหวัด).3',
       'ผลลัพธ์ (จังหวัด).3', 'จำนวนครั้ง (จังหวัด).3'],
      dtype='object')

In [21]:
df.columns = ['เขต',"จังหวัด"] + list(df.columns[2:])
df

,เขต,จังหวัด,ตัวตั้ง (จังหวัด),ตัวหาร (จังหวัด),ผลลัพธ์ (จังหวัด),จำนวนครั้ง (จังหวัด),ตัวตั้ง (จังหวัด).1,ตัวหาร (จังหวัด).1,ผลลัพธ์ (จังหวัด).1,จำนวนครั้ง (จังหวัด).1,ตัวตั้ง (จังหวัด).2,ตัวหาร (จังหวัด).2,ผลลัพธ์ (จังหวัด).2,จำนวนครั้ง (จังหวัด).2,ตัวตั้ง (จังหวัด).3,ตัวหาร (จังหวัด).3,ผลลัพธ์ (จังหวัด).3,จำนวนครั้ง (จังหวัด).3
0,เขต 1 เชียงใหม่,เชียงใหม่,293.0,702.0,41.74,394.0,285.0,707.0,40.31,367.0,253,692,36.56,311,280.0,723.0,38.73,369.0
1,NaN,ลำพูน,65.0,145.0,44.83,86.0,77.0,148.0,52.03,108.0,89,168,52.98,125,85.0,139.0,61.15,105.0
2,NaN,ลำปาง,134.0,300.0,44.67,188.0,142.0,298.0,47.65,195.0,146,338,43.20,196,144.0,326.0,44.17,180.0
3,NaN,แพร่,86.0,146.0,58.90,112.0,71.0,125.0,56.80,95.0,74,126,58.73,113,58.0,117.0,49.57,72.0
4,NaN,น่าน,88.0,158.0,55.70,128.0,91.0,161.0,56.52,133.0,83,149,55.70,127,81.0,181.0,44.75,108.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73,NaN,ปัตตานี,20.0,40.0,50.00,21.0,30.0,48.0,62.50,35.0,25,46,54.35,29,23.0,44.0,52.27,23.0
74,NaN,ยะลา,21.0,41.0,51.22,24.0,21.0,48.0,43.75,26.0,29,53,54.72,31,23.0,58.0,39.66,25.0
75,NaN,นราธิวาส,40.0,79.0,50.63,51.0,30.0,68.0,44.12,34.0,35,67,52.24,43,26.0,53.0,49.06,34.0
76,เขต 13 กรุงเทพมหานคร,กรุงเทพฯ,541.0,1390.0,38.92,635.0,516.0,1294.0,39.88,590.0,556,1340,41.49,640,557.0,1358.0,41.02,648.0
77,"เขต 14 กรมแพทย์ทหารเรือ, กรมแพทย์ทหารอากาศ, ทั...",กรมแพทย์ทหารเรือ,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1,0.00,0,NaN,NaN,NaN,NaN