Data Processing

Command "GroupBy"

In [2]:
import pandas as pd

df = pd.read_excel("___51-58_cutname_newyear_edit.xlsx")

In [4]:
df

,ชื่อเทศกาล,รหัสจังหวัด,จังหวัด,รหัส รพ.,ชื่อโรงพยาบาลที่รับผู้บาดเจ็บ,วันที่เกิดเหตุ,เวลาเกิดเหตุ,เพศ,อายุ,ถนนที่เกิดเหตุ,สถานะ,รถผู้บาดเจ็บ,รถคู่กรณี,มาตรการ,การดื่มสุรา,การนำส่ง,Refer-Admit,ผลการรักษา,จำนวนวันรักษา
0,ปีใหม่ 51,10,กรุงเทพมหานคร,11630,กรุงเทพ,3,12:01-13:00 น.,หญิง,54,ในเมือง,ผู้ชับขี่,รถเก๋ง/แท็กซี่,ไม่มี/ล้มเอง,เข็มขัด,ไม่ดื่ม,ผู้ประสบเหตุ/ญาติ,ไม่,ทุเลา/หาย,0
1,ปีใหม่ 51,10,กรุงเทพมหานคร,11548,กรุงเทพคริสเตียน,2,21:01-22:00 น.,หญิง,13,ในเมือง,ผู้ชับขี่,จักรยานยนต์,รถตู้,ใส่หมวก,ไม่ดื่ม,มูลนิธิ/อาสาสมัคร,admit,ทุเลา/หาย,0
2,ปีใหม่ 51,10,กรุงเทพมหานคร,11548,กรุงเทพคริสเตียน,31,03:01-04:00 น.,หญิง,0,ในเมือง,ผู้โดยสาร,จักรยานยนต์,ปิคอัพ,ไม่ใส่,ไม่ดื่ม,ผู้ประสบเหตุ/ญาติ,ไม่,ทุเลา/หาย,0
3,ปีใหม่ 51,10,กรุงเทพมหานคร,11548,กรุงเทพคริสเตียน,31,03:01-04:00 น.,หญิง,0,ในเมือง,ผู้โดยสาร,จักรยานยนต์,ปิคอัพ,ใส่หมวก,ไม่ดื่ม,ผู้ประสบเหตุ/ญาติ,ไม่,ทุเลา/หาย,0
4,ปีใหม่ 51,10,กรุงเทพมหานคร,11548,กรุงเทพคริสเตียน,31,03:01-04:00 น.,ชาย,0,ในเมือง,ผู้ชับขี่,จักรยานยนต์,ปิคอัพ,ใส่หมวก,ดื่ม,ผู้ประสบเหตุ/ญาติ,ไม่,ทุเลา/หาย,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
214945,ปีใหม่ 58,97,บึงกาฬ,11049,ศรีวิไล,31,09:01-10:00 น.,ชาย,3,ชนบท,คนเดินเท้า,ไม่มี/ล้มเอง,จักรยานยนต์,ไม่ใส่,ไม่ดื่ม,ผู้ประสบเหตุ/ญาติ,ไม่,ทุเลา/หาย,0
214946,ปีใหม่ 58,97,บึงกาฬ,11049,ศรีวิไล,30,16:01-17:00 น.,หญิง,4,ชนบท,คนเดินเท้า,ไม่มี/ล้มเอง,จักรยานยนต์,ไม่ใส่,ไม่ดื่ม,ผู้ประสบเหตุ/ญาติ,ไม่,ทุเลา/หาย,0
214947,ปีใหม่ 58,97,บึงกาฬ,11049,ศรีวิไล,30,24:01-01:00 น.,ชาย,20,ชนบท,ผู้ชับขี่,จักรยานยนต์,ปิคอัพ,ไม่ใส่,ไม่ดื่ม,ALS,ส่งต่อก่อน admit,ทุเลา/หาย,0
214948,ปีใหม่ 58,97,บึงกาฬ,11049,ศรีวิไล,31,14:01-15:00 น.,ชาย,16,ชนบท,ผู้ชับขี่,จักรยานยนต์,ไม่มี/ล้มเอง,ไม่ใส่,ดื่ม,FR,ส่งต่อก่อน admit,ทุเลา/หาย,0
214949,ปีใหม่ 58,97,บึงกาฬ,11049,ศรีวิไล,5,15:01-16:00 น.,ชาย,19,ทางหลวง,ผู้ชับขี่,จักรยานยนต์,สามล้อเครื่อง,ใส่หมวก,ไม่ดื่ม,ผู้ประสบเหตุ/ญาติ,ส่งต่อก่อน admit,ทุเลา/หาย,0

In [5]:
df.columns

Index(['ชื่อเทศกาล', 'รหัสจังหวัด', 'จังหวัด', 'รหัส รพ.',
       'ชื่อโรงพยาบาลที่รับผู้บาดเจ็บ', 'วันที่เกิดเหตุ', 'เวลาเกิดเหตุ',
       'เพศ', 'อายุ', 'ถนนที่เกิดเหตุ', 'สถานะ', 'รถผู้บาดเจ็บ', 'รถคู่กรณี',
       'มาตรการ', 'การดื่มสุรา', 'การนำส่ง', 'Refer-Admit', 'ผลการรักษา',
       'จำนวนวันรักษา'],
      dtype='object')

groupby คือการจัดการกับกลุ่มของข้อมูล

In [ ]:
df.groupby('ชื่อเทศกาล').count()['รหัสจังหวัด'] #output is a DataFrame
#can give command more specific Ex. ['รหัสจังหวัด']

ชื่อเทศกาล
ปีใหม่ 51    30866
ปีใหม่ 52    27283
ปีใหม่ 53    27936
ปีใหม่ 54    25998
ปีใหม่ 55    26131
ปีใหม่ 56    26649
ปีใหม่ 57    25970
ปีใหม่ 58    24117
Name: รหัสจังหวัด, dtype: int64

In [ ]:
df.isna().sum() #ในข้อมูลไม่มีค่า Nan

ชื่อเทศกาล                       0
รหัสจังหวัด                      0
จังหวัด                          0
รหัส รพ.                         0
ชื่อโรงพยาบาลที่รับผู้บาดเจ็บ    0
วันที่เกิดเหตุ                   0
เวลาเกิดเหตุ                     0
เพศ                              0
อายุ                             0
ถนนที่เกิดเหตุ                   0
สถานะ                            0
รถผู้บาดเจ็บ                     0
รถคู่กรณี                        0
มาตรการ                          0
การดื่มสุรา                      0
การนำส่ง                         0
Refer-Admit                      0
ผลการรักษา                       0
จำนวนวันรักษา                    0
dtype: int64

In [16]:
df.groupby('จังหวัด').count()['ชื่อเทศกาล'].sort_values(ascending=False)[0:20]
# sort_values() has ascending=True as a default
# And you use slice command to see some row Ex.[0:20] for 0-20

จังหวัด
นครราชสีมา         9835
เชียงใหม่          7930
ชลบุรี             7221
ขอนแก่น            6779
บุรีรัมย์          6097
กรุงเทพมหานคร      5921
สงขลา              5397
สุราษฎร์ธานี       5354
เชียงราย           5025
นครศรีธรรมราช      4643
ศรีสะเกษ           4513
สุรินทร์           4509
นครสวรรค์          4195
สมุทรปราการ        4092
ระยอง              4022
เพชรบูรณ์          3943
ภูเก็ต             3877
พระนครศรีอยุธยา    3846
ราชบุรี            3565
อุดรธานี           3447
Name: ชื่อเทศกาล, dtype: int64

groupby Unit 2

In [23]:
df.dtypes

ชื่อเทศกาล                       object
รหัสจังหวัด                       int64
จังหวัด                          object
รหัส รพ.                          int64
ชื่อโรงพยาบาลที่รับผู้บาดเจ็บ    object
วันที่เกิดเหตุ                    int64
เวลาเกิดเหตุ                     object
เพศ                              object
อายุ                              int64
ถนนที่เกิดเหตุ                   object
สถานะ                            object
รถผู้บาดเจ็บ                     object
รถคู่กรณี                        object
มาตรการ                          object
การดื่มสุรา                      object
การนำส่ง                         object
Refer-Admit                      object
ผลการรักษา                       object
จำนวนวันรักษา                     int64
dtype: object

In [30]:
#find average age of accident
df.groupby('จังหวัด').mean(numeric_only=True)['อายุ'].sort_values(ascending=False)
# when DataFrame has many type of columns 
# you must add mean(numeric_only=True)

จังหวัด
ลำพูน          32.687797
ชัยนาท         32.530022
สิงห์บุรี      32.255767
ลำปาง          31.195926
อ่างทอง        31.097087
                 ...
ปัตตานี        26.371511
นราธิวาส       26.323554
หนองบัวลำภู    26.184592
ยะลา           26.067888
สตูล           25.806723
Name: อายุ, Length: 77, dtype: float64

In [31]:
df.columns

Index(['ชื่อเทศกาล', 'รหัสจังหวัด', 'จังหวัด', 'รหัส รพ.',
       'ชื่อโรงพยาบาลที่รับผู้บาดเจ็บ', 'วันที่เกิดเหตุ', 'เวลาเกิดเหตุ',
       'เพศ', 'อายุ', 'ถนนที่เกิดเหตุ', 'สถานะ', 'รถผู้บาดเจ็บ', 'รถคู่กรณี',
       'มาตรการ', 'การดื่มสุรา', 'การนำส่ง', 'Refer-Admit', 'ผลการรักษา',
       'จำนวนวันรักษา'],
      dtype='object')

In [34]:
status_df = df[df['สถานะ'] == 'ผู้ชับขี่']

In [ ]:
status_df.groupby('รถผู้บาดเจ็บ').mean(numeric_only=True)[['อายุ','จำนวนวันรักษา']].sort_values('อายุ')
# In groupby we have more command like.
# mean() **
# count() **
# sum() **
# max() *
# min() *

                     อายุ  จำนวนวันรักษา
รถผู้บาดเจ็บ
ไม่มี/ล้มเอง    29.229253       0.356846
จักรยานยนต์     29.984104       0.362599
รถจักรยาน       30.964416       0.330246
ไม่ทราบ         31.405316       0.116279
รถเก๋ง/แท็กซี่  34.277203       0.351052
ปิคอัพ          36.083681       0.375522
รถโดยสาร 4 ล้อ  36.573171       0.426829
รถบรรทุก        37.310231       0.310231
รถตู้           38.006289       0.559748
อื่นๆ           38.226378       0.523622
รถโดยสารใหญ่    40.236842       0.263158
สามล้อถีบ       40.318182       0.356061
สามล้อเครื่อง   40.968165       0.299625

In [42]:
status_df.groupby('จังหวัด').sum()['จำนวนวันรักษา'].sort_values(ascending=False)[:20]

จังหวัด
เชียงใหม่          2518
ลำปาง              2516
นครปฐม             2321
ศรีสะเกษ           1920
นครสวรรค์          1592
ฉะเชิงเทรา         1546
สระแก้ว            1511
อุดรธานี           1504
ประจวบคีรีขันธ์    1348
ราชบุรี            1306
สุรินทร์           1254
แพร่               1248
ร้อยเอ็ด           1197
ลำพูน              1194
นครราชสีมา         1158
ขอนแก่น            1143
เพชรบุรี           1092
ยโสธร              1066
สกลนคร             1053
นครพนม             1033
Name: จำนวนวันรักษา, dtype: int64

groupby Unit 3

In [44]:
#use Covid-19 Data
df_II = pd.read_csv('thailand_data.csv')

C:\Users\ADMIN\AppData\Local\Temp\ipykernel_3988\2449276868.py:2: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  df_II = pd.read_csv('thailand_data.csv')

In [45]:
df_II.columns

Index(['No.', 'announce_date', 'Notified date', 'sex', 'age', 'Unit',
       'nationality', 'province_of_isolation', 'risk', 'province_of_onset',
       'district_of_onset'],
      dtype='object')

In [50]:
df_II['announce_date'] = pd.to_datetime(df_II['announce_date'],dayfirst=True)

In [52]:
df_II.dtypes

No.                               int64
announce_date            datetime64[ns]
Notified date                    object
sex                              object
age                              object
Unit                             object
nationality                      object
province_of_isolation            object
risk                             object
province_of_onset                object
district_of_onset                object
dtype: object

In [56]:
import datetime

filtered_df = df_II[df_II['announce_date'].dt.date >= datetime.date(year=2021,month=4,day=1)]

In [57]:
filtered_df.head()

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
28863,28864,2021-04-01,31/3/2021,ชาย,27.0,ปี,Burma,สมุทรสาคร,Cluster สมุทรสาคร,สมุทรสาคร,เมืองสมุทรสาคร
28864,28865,2021-04-01,31/3/2021,หญิง,18.0,ปี,Burma,สมุทรสาคร,Cluster สมุทรสาคร,สมุทรสาคร,เมืองสมุทรสาคร
28865,28866,2021-04-01,31/3/2021,ชาย,28.0,ปี,Burma,สมุทรสาคร,Cluster สมุทรสาคร,สมุทรสาคร,เมืองสมุทรสาคร
28866,28867,2021-04-01,31/3/2021,หญิง,30.0,ปี,Burma,สมุทรสาคร,Cluster สมุทรสาคร,สมุทรสาคร,เมืองสมุทรสาคร
28867,28868,2021-04-01,31/3/2021,หญิง,30.0,ปี,Burma,สมุทรสาคร,Cluster สมุทรสาคร,สมุทรสาคร,เมืองสมุทรสาคร

In [58]:
filtered_df.groupby('announce_date').count()['No.']

announce_date
2021-04-01       26
2021-04-02       58
2021-04-03       84
2021-04-04       96
2021-04-05      194
              ...
2021-08-08    19983
2021-08-09    19603
2021-08-10    19843
2021-08-11    21038
2021-08-12    22782
Name: No., Length: 134, dtype: int64

In [ ]:
filtered_df.groupby(['province_of_isolation','announce_date']).count()['No.']
#Index is 'province_of_isolation','announce_date' and Count for No.

province_of_isolation  announce_date
กระบี่                 2021-04-10        2
                       2021-04-11        1
                       2021-04-12        1
                       2021-04-13        1
                       2021-04-14        5
                                        ..
แม่ฮ่องสอน             2021-08-08        3
                       2021-08-09        4
                       2021-08-10       10
                       2021-08-11        6
                       2021-08-12        9
Name: No., Length: 8419, dtype: int64

groupby reset_index and pivot

In [60]:
count_df = filtered_df.groupby(['province_of_isolation','announce_date']).count()['No.'].reset_index()
# reset_index will reset index let we work more easier

In [ ]:
count_df

     province_of_isolation announce_date  No.
0                   กระบี่    2021-04-10    2
1                   กระบี่    2021-04-11    1
2                   กระบี่    2021-04-12    1
3                   กระบี่    2021-04-13    1
4                   กระบี่    2021-04-14    5
...                    ...           ...  ...
8414            แม่ฮ่องสอน    2021-08-08    3
8415            แม่ฮ่องสอน    2021-08-09    4
8416            แม่ฮ่องสอน    2021-08-10   10
8417            แม่ฮ่องสอน    2021-08-11    6
8418            แม่ฮ่องสอน    2021-08-12    9

[8419 rows x 3 columns]

Pivot Command use for reformat DataFrame

In [64]:
count_df = count_df.pivot(index='province_of_isolation',columns='announce_date',values='No.').fillna(0)
# we want to reformat DataFrame 
# เราจึงจะให้ index เป็น จังหวัด
# ให้ columns เป็นวันที่ ประกาศ
# ให้ values เป็น จำนวนนับของผู้ติดเชื้อ

In [73]:
count_df

announce_date,2021-04-01,2021-04-02,2021-04-03,2021-04-04,2021-04-05,2021-04-06,2021-04-07,2021-04-08,2021-04-09,2021-04-10,...,2021-08-03,2021-08-04,2021-08-05,2021-08-06,2021-08-07,2021-08-08,2021-08-09,2021-08-10,2021-08-11,2021-08-12
province_of_isolation,,,,,,,,,,,,,,,,,,,,,
กระบี่,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,...,13.0,17.0,17.0,16.0,19.0,21.0,10.0,14.0,18.0,35.0
กรุงเทพมหานคร,11.0,24.0,41.0,41.0,55.0,157.0,221.0,104.0,272.0,188.0,...,3611.0,4130.0,4154.0,4713.0,4234.0,3098.0,3114.0,4229.0,4552.0,4856.0
กาญจนบุรี,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,...,269.0,219.0,121.0,179.0,205.0,212.0,159.0,323.0,194.0,236.0
กาฬสินธุ์,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,142.0,188.0,202.0,239.0,283.0,223.0,92.0,126.0,204.0,151.0
กำแพงเพชร,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,...,135.0,113.0,215.0,114.0,114.0,179.0,142.0,162.0,68.0,73.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
เพชรบุรี,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,4.0,...,116.0,111.0,133.0,140.0,143.0,108.0,126.0,78.0,133.0,110.0
เพชรบูรณ์,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,2.0,...,169.0,27.0,192.0,136.0,40.0,158.0,130.0,92.0,36.0,127.0
เลย,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,...,38.0,48.0,63.0,54.0,32.0,72.0,57.0,67.0,51.0,63.0
แพร่,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,...,28.0,24.0,45.0,20.0,52.0,38.0,48.0,16.0,34.0,56.0
แม่ฮ่องสอน,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,9.0,13.0,1.0,11.0,0.0,3.0,4.0,10.0,6.0,9.0

In [74]:
count_df.to_excel('count_by_province.xlsx')

more useful command

In [75]:
count_df.max()

announce_date
2021-04-01      11.0
2021-04-02      24.0
2021-04-03      41.0
2021-04-04      41.0
2021-04-05      94.0
               ...
2021-08-08    3098.0
2021-08-09    3114.0
2021-08-10    4229.0
2021-08-11    4552.0
2021-08-12    4856.0
Length: 134, dtype: float64

In [83]:
# count_df.set_index('province_of_isolation')

In [78]:
count_df.index

Index(['กระบี่', 'กรุงเทพมหานคร', 'กาญจนบุรี', 'กาฬสินธุ์', 'กำแพงเพชร',
       'ขอนแก่น', 'จันทบุรี', 'ฉะเชิงเทรา', 'ชลบุรี', 'ชัยนาท', 'ชัยภูมิ',
       'ชุมพร', 'ตรัง', 'ตราด', 'ตาก', 'นครนายก', 'นครปฐม', 'นครพนม',
       'นครราชสีมา', 'นครศรีธรรมราช', 'นครสวรรค์', 'นนทบุรี', 'นราธิวาส',
       'น่าน', 'บึงกาฬ', 'บุรีรัมย์', 'ปทุมธานี', 'ประจวบคีรีขันธ์',
       'ปราจีนบุรี', 'ปัตตานี', 'พระนครศรีอยุธยา', 'พะเยา', 'พังงา', 'พัทลุง',
       'พิจิตร', 'พิษณุโลก', 'ภูเก็ต', 'มหาสารคาม', 'มุกดาหาร', 'ยะลา',
       'ยโสธร', 'ระนอง', 'ระยอง', 'ราชบุรี', 'ร้อยเอ็ด', 'ลพบุรี', 'ลำปาง',
       'ลำพูน', 'ศรีสะเกษ', 'สกลนคร', 'สงขลา', 'สตูล', 'สมุทรปราการ',
       'สมุทรสงคราม', 'สมุทรสาคร', 'สระบุรี', 'สระแก้ว', 'สิงห์บุรี',
       'สุพรรณบุรี', 'สุราษฎร์ธานี', 'สุรินทร์', 'สุโขทัย', 'หนองคาย',
       'หนองบัวลำภู', 'อำนาจเจริญ', 'อุดรธานี', 'อุตรดิตถ์', 'อุทัยธานี',
       'อุบลราชธานี', 'อ่างทอง', 'เชียงราย', 'เชียงใหม่', 'เพชรบุรี',
       'เพชรบูรณ์', 'เลย', 'แพร่', 'แม่ฮ่องสอน'],
      dtype='object', name='province_of_isolation')

In [ ]:
count_df.idxmax().value_counts()
#idxmax or idxmin will return single value

กรุงเทพมหานคร    128
นราธิวาส           2
เชียงใหม่          2
นนทบุรี            2
Name: count, dtype: int64

In [82]:
count_df.idxmin().value_counts()

กระบี่        22
แม่ฮ่องสอน    19
ชัยนาท        18
กาฬสินธุ์     15
พังงา         11
กำแพงเพชร      7
บึงกาฬ         7
ชุมพร          6
ขอนแก่น        5
กาญจนบุรี      3
ตราด           3
นครพนม         2
ลำพูน          2
ชัยภูมิ        2
ตาก            2
บุรีรัมย์      2
สตูล           2
น่าน           1
ลำปาง          1
พะเยา          1
หนองคาย        1
ภูเก็ต         1
สุโขทัย        1
Name: count, dtype: int64

In [ ]:
count_df.max(axis=1)
# max of province

province_of_isolation
กระบี่             90.0
กรุงเทพมหานคร    4856.0
กาญจนบุรี         585.0
กาฬสินธุ์         283.0
กำแพงเพชร         215.0
                  ...
เพชรบุรี          968.0
เพชรบูรณ์         192.0
เลย                73.0
แพร่               56.0
แม่ฮ่องสอน         14.0
Length: 77, dtype: float64

In [86]:
count_df.idxmax(axis=1)
# find when maximum in province

province_of_isolation
กระบี่          2021-07-07
กรุงเทพมหานคร   2021-08-12
กาญจนบุรี       2021-07-28
กาฬสินธุ์       2021-08-07
กำแพงเพชร       2021-08-05
                   ...
เพชรบุรี        2021-05-23
เพชรบูรณ์       2021-08-05
เลย             2021-07-22
แพร่            2021-08-12
แม่ฮ่องสอน      2021-04-20
Length: 77, dtype: datetime64[ns]

In [88]:
count_df.sum(axis=1)
# รวมผู้ติดเชื้อในแต่ละจังหวัด

province_of_isolation
กระบี่             1269.0
กรุงเทพมหานคร    221478.0
กาญจนบุรี          6767.0
กาฬสินธุ์          5078.0
กำแพงเพชร          3914.0
                   ...
เพชรบุรี          13258.0
เพชรบูรณ์          3276.0
เลย                1778.0
แพร่                988.0
แม่ฮ่องสอน          225.0
Length: 77, dtype: float64